body {
    background: url(../images/friends.png) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-size: 19px;
}

h1 {
    font-family: 'Ultra', serif;
}

#main-section {
    background-color: orange;
    width: 50%;
    margin: 100px auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    height: 350px;
}

#game {
    margin-top: 30px;
}

h2 {
    margin-top: 50px;
}

button { 
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: orange;
    border: none;
}
